.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #13A9CD;
  color: floralwhite;
}

.navbar-inverse {
  background: #0B7E9B ;
  color: white;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #0B7E9B ;
  color: white;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background: #0B7E9B ;
  color: white;
}