{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    <title>Edu PiggyBank</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
     google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawLineColors);

    function drawLineColors() {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'X');
          data.addColumn('number', 'Withdrawn');
          data.addColumn('number', 'Deposited');

          data.addRows([
            [0, 0, 0],    [1, 10, 5],   [2, 23, 15],  [3, 17, 9],   [4, 18, 10],  [5, 9, 5],
            [6, 11, 3],   [7, 27, 19],  [8, 33, 25],  [9, 40, 32],  [10, 32, 24], [11, 35, 27],
            [12, 30, 22], [13, 40, 32], [14, 42, 34], [15, 47, 39], [16, 44, 36], [17, 48, 40],
            [18, 52, 44], [19, 54, 46], [20, 42, 34], [21, 55, 47], [22, 56, 48], [23, 57, 49],
            [24, 60, 52], [25, 50, 42], [26, 52, 44], [27, 51, 43], [28, 49, 41], [29, 53, 45],
            [30, 55, 47], [31, 60, 52], [32, 61, 53], [33, 59, 51], [34, 62, 54], [35, 65, 57],
            [36, 62, 54], [37, 58, 50], [38, 55, 47], [39, 61, 53], [40, 64, 56], [41, 65, 57],
            [42, 63, 55], [43, 66, 58], [44, 67, 59], [45, 69, 61], [46, 69, 61], [47, 70, 62],
            [48, 72, 64], [49, 68, 60], [50, 66, 58], [51, 65, 57], [52, 67, 59], [53, 70, 62],
            [54, 71, 63], [55, 72, 64], [56, 73, 65], [57, 75, 67], [58, 70, 62], [59, 68, 60],
            [60, 64, 56], [61, 60, 52], [62, 65, 57], [63, 67, 59], [64, 68, 60], [65, 69, 61],
            [66, 70, 62], [67, 72, 64], [68, 75, 67], [69, 80, 72]
          ]);

          var options = {
            hAxis: {
              title: 'Time'
            },
            vAxis: {
              title: 'Money'
            },
            colors: ['#a52714', '#097138']
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
    }
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    </head>
    
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="../static/images/piggy.png" height=30 width=41></a>
                </div>

                 <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li class="active"><a href="/"><span class="glyphicon glyphicon-user"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a href="/mypassbook">My Passbook</a></li>
                    
                    
                    <li><a href="/transaction">Transaction</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/quiz">Play Quiz</a>
                    </li>
                </ul>
                
            </div>
        </div>   
        
        </nav>
    
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
            <div class="col-sm-8">
            <h1>Edu Piggy Bank</h1>
                <p style="padding:20px;"></p>
                <p> Why only adults have access to banks?</p>
                <p> Introducting <a href="/">EduPiggybank</a> - your child's personalise bank account
                    wherein he will learn basic banking in a funway with REAL money.
                </p>
                
                </div>
                
            <div class="col-sm-3">
                <img src="../static/images/piggy.png">
                </div>
            
            </div>
            </div>
    
    </header>
    <div id="chart_div" style="width: 100%; height: 500px"></div>
    
    </body>
    
    <footer>
            <div class = "row row-footer">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              Janaak Puri , New Delhi<br>
		             <i class="fa fa-phone"></i>: +123456789<br>
		              <i class="fa fa-fax"></i>: +123456789<br>
		             <i class="fa fa-envelope"></i>: 
                                 <a href="mailto:confusion@food.net">Edupiggybank@net.com</a>
		           </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    
                        <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>

                    
                </div>
                <div class="col-xs-12 col-sm-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2016 Edu Piggy Bank</p>
                </div>
            </div>
    </footer>
    
    <script>
        
       
    </script>

</html>